<form [formGroup]="newPolicyForm" (ngSubmit)="onSubmit()">
    <input type="number" placeholder="Enter total amount" formControlName = "totalAmount"><span>*</span>
    <div *ngIf="newPolicyForm.get('totalAmount')?.invalid && newPolicyForm.get('totalAmount')?.touched">Total Amount is required.</div> 
    <div *ngIf="newPolicyForm.get('totalAmount')?.errors?.['min']">Minimum amount should be 1.</div>

    <br>
    <br>
    <input type ="number" placeholder="Enter Duration in Months" formControlName = "durationInMonths"><span>*</span>
    <div *ngIf="newPolicyForm.get('durationInMonths')?.invalid && newPolicyForm.get('durationInMonths')?.touched">Minimum duration is required.</div> 
    <!-- <div *ngIf="newPolicyForm.get('durationInMonths')?.errors?.['min']">Minimum dur should be 1.</div> -->
    <br>
    <br>
    <input type ="text" placeholder="Enter nominee" formControlName = "nominee"><span>*</span>
    <div *ngIf="newPolicyForm.get('nominee')?.invalid && newPolicyForm.get('nominee')?.touched">Minimum duration is required.</div> 

    <br>
    <br>
    <select formControlName="nomineeRelation">
        <option value="" disabled>Select a Nominee Relation</option> <!-- Placeholder -->
        <option *ngFor="let nominee of nominees; let i = index" [value]="nominee">{{ nominee }}</option>
      </select><span>*</span>
      <div *ngIf="newPolicyForm.get('nomineeRelation')?.invalid && newPolicyForm.get('nomineeRelation')?.touched">Nominee Relation is required.</div> 

    <br>
    <br>

    <button>Submit</button>


</form>
