<div class="search-bar">
    <input
      type="text"
      placeholder="Search by Scheme Name"
      [(ngModel)]="searchQuery"
      (input)="filterDocuments()"
      class="form-control"
    />
  </div>

<table>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Minimum Amount</th>
      <th>Maximum Amount</th>
      <th>Minimum Age</th>
      <th>Maximum Age</th>
      <th>Minimum Policy Term</th>
      <th>Maximum Policy Term</th>
      <th>Policy Registration Commission</th>
      <th>Policy Premium Commission</th>
      <th>Documents Required</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let scheme of filteredDocuments">
      <td>{{ scheme.title }}</td>
      <td>{{ scheme.description }}</td>
      <td>{{ scheme.minAmount }}</td>
      <td>{{ scheme.maxAmount }}</td>
      <td>{{ scheme.minAge }}</td>
      <td>{{ scheme.maxAge }}</td>
      <td>{{ scheme.minPolicyTerm }}</td>
      <td>{{ scheme.maxPolicyTerm }}</td>
      <td>{{ scheme.registrationCommisionAmount }}</td>
      <td>{{ scheme.installmentCommisionRatio }}</td>
      <td>
        <ul>
          <li *ngFor="let document of scheme.documents">{{ document }}</li>
        </ul>
      </td>
      <td>{{ scheme.policyStatus ? 'Active' : 'Deactive' }}</td>
      <td>
        <button
          (click)="toggleSchemeStatus(scheme)"
          [ngClass]="scheme.policyStatus ? 'btn btn-danger' : 'btn btn-success'"
        >
          {{ scheme.policyStatus ? 'Deactivate' : 'Activate' }}
        </button>
      </td>
    </tr>
  </table>
  <mat-paginator
  [length]="totalItems"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 15, 20]"
  aria-label="Select page"
  (page)="onPageChange($event)"
>
</mat-paginator>

  