<div class="settings-container">
    <form [formGroup]="newGlobalForm" (ngSubmit)="updateVariable()">
      <div class="form-group">
        <label for="commissionWithdrawDeduction">Commission Withdraw Deduction</label>
        <input
          type="number"
          id="commissionWithdrawDeduction"
          formControlName="commissionWithdrawDeduction"
          placeholder="{{getValue.commissionWithdrawDeduction}}"
        />
      </div>
      <div class="form-group">
        <label for="policyCancellationPenalty">Policy Cancellation Penalty</label>
        <input
          type="number"
          id="policyCancellationPenalty"
          formControlName="policyCancellationPenalty"
          placeholder="{{getValue.policyCancellationPenalty}}"
        />
      </div>
      <button type="submit" class="submit-button">Update</button>
    </form>
  </div>
  