

<div *ngFor="let document of documentTypes">
  <h2>Submit Documents</h2>
  <form [formGroup]="newDocument" (ngSubmit)="addNewDocument()">
    <h2 formControlName="name">
        {{document}}
      </h2>
      <br>
  
      <input type="file" (change)="onSelect($event)" accept="image/*" />
      <span>*</span>
      
      <!-- Display Selected File -->
      <div *ngIf="file">
        <p>Selected File: {{ file.name }}</p>
        <button (click)="onRemove()">Remove File</button>
      </div>
    
      <!-- Upload Button -->
      <button (click)="upload(document)">Upload File</button>  
  </form>
</div>

<button (click)="onSubmit()">Submit</button>


<!-- <div>
    <input type="file" (change)="onSelect($event)" accept="image/*, application/pdf" />
  
    <div *ngIf="file">
      <p>Selected File: {{ file.name }}</p>
      <button (click)="onRemove()">Remove File</button>
    </div>
  
    <button (click)="upload()">Upload File</button>
  </div> -->