<h2>Submit Documents</h2> <!-- Heading outside the loop -->

<div *ngFor="let document of documentTypes">
  <form [formGroup]="newDocument" (ngSubmit)="addNewDocument()">
    <h3 formControlName="name">
      {{ document }}
    </h3>
    <br />

    <div id="row">
    <input type="file" (change)="onSelect($event)" accept="image/*" />
    <span>*</span>
  </div>
  <div *ngIf="newDocument.get('name')?.invalid && newDocument.get('name')?.touched">Document is required.</div> 
    <!-- Upload Button -->
    <button type="button" (click)="upload(document)">Upload File</button>
  </form>
</div>

<!-- Final Submit Button -->
<button (click)="onSubmit()">Submit</button>
