/* Ensure the body takes full height and has no margin */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

/* Centering the form */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh; /* Full viewport height */
}

/* Heading container */
.heading-container {
  margin-bottom: 20px;
}

/* Heading style */
.heading {
  font-size: 2rem;

  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Form container */
form {
  width: 50%;
  padding: 25px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  transition: all 0.3s ease;
}

/* Form input fields */
form input[type="text"] {
  width: 100%;
  padding: 12px 15px;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background-color: #f0f0f0;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Input focus styles */
form input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

/* Button styles */
form button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Button hover and active states */
form button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

form button:active {
  background-color: #004085;
  transform: translateY(1px);
}

/* Adding margin and padding to br tags for better spacing */
form br {
  margin-bottom: 15px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  form {
      width: 80%;
  }
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

#row{
  display: flex;
}
span{
  color: red;
}