<div class="container">
    <div class="heading-container">
        <h1 class="heading">Add New State and City</h1>
    </div>
    <form [formGroup]="newState" (ngSubmit)="addNewState()">
      <div id="row">
        <input type="text" formControlName="stateName" placeholder="Enter State Name"><span>*</span>
      </div>
        <div *ngIf="newState.get('stateName')?.invalid && newState.get('stateName')?.touched" class="error">
            State name is required.
        </div>
        <div *ngIf="newState.get('stateName')?.errors?.['pattern']">State name consist of only characters.</div>

        <br>

        <div id="row">
          <input type="text" placeholder="Enter City Name" formControlName="cityName"><span>*</span>
        </div>
        <div *ngIf="newState.get('cityName')?.invalid && newState.get('cityName')?.touched" class="error">
            City name is required.
        </div>
        <div *ngIf="newState.get('cityName')?.errors?.['pattern']">City name consist of only characters.</div>

        <br>

        <button type="submit" [disabled]="newState.invalid">Submit</button>
    </form>
</div>

<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container position-fixed top-0 end-0 p-3">
      <div
        class="toast"
        role="alert"
        [class.show]="showToast"
        aria-live="assertive"
        aria-atomic="true"
        [ngClass]="{ 'bg-success text-white': toastType === 'success', 'bg-danger text-white': toastType === 'error' }"
      >
        
        <div class="toast-body">
          {{ toastMessage }}
        </div>
      </div>
    </div>
  </div>
