<div class="container">
    <div class="heading-container">
        <h1 class="heading">Add New State and City</h1>
    </div>
    <form [formGroup]="newState" (ngSubmit)="addNewState()">
        <input type="text" formControlName="stateName" placeholder="Enter State Name"><span>*</span>
        <div *ngIf="newState.get('stateName')?.invalid && newState.get('stateName')?.touched" class="error">
            State name is required.
        </div>
        <br>

        <input type="text" placeholder="Enter City Name" formControlName="cityName"><span>*</span>
        <div *ngIf="newState.get('cityName')?.invalid && newState.get('cityName')?.touched" class="error">
            City name is required.
        </div>
        <br>

        <button type="submit">Submit</button>
    </form>
</div>
