<div class="container">
    <h2>Customer Policy Details</h2>
    
    <table class="table">
      <thead>
        <tr>
          <th>Customer Name</th>
          <th>Policy Name</th>
          <th>Agent Name</th>
          <th>Purchased Date</th>
          <th>Nominee</th>
          <th>Nominee Relation</th>
          <th>Policy Amount</th>
          <th>Policy Duration (Months)</th>
          <th>Pay Premium</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let policy of policyAccounts">
          <td>{{ policy.customerName }}</td>
          <td>{{ policy.policyName }}</td>
          <td>{{ policy.agentName }}</td>
          <td>{{ policy.purchasedDate | date:'short' }}</td>
          <td>{{ policy.nominee }}</td>
          <td>{{ nomineeRelationMap[policy.nomineeRelation] || 'Unknown' }}</td>
          <td>Rs.{{ policy.policyAmount }}</td>
          <td>{{ policy.policyDuration }} months</td>
          <td>
            <button class="btn btn-danger" (click)="PayPremium(policy)">Pay Premium</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  