<div class="container">
  <h2>Customer Policy Details</h2>
  
  <div class="search-bar">
    <input
      type="text"
      placeholder="Search by Policy Name"
      [(ngModel)]="searchQuery"
      (input)="filterDocuments()"
      class="form-control"
    />
  </div>

  <table class="table">
      <thead>
          <tr>
              <th>Customer Name</th>
              <th>Policy Name</th>
              <th>Agent Name</th>
              <th>Purchased Date</th>
              <th>Nominee</th>
              <th>Nominee Relation</th>
              <th>Policy Amount</th>
              <th>Policy Duration (Years)</th>
              <th>Pay Premium</th>
              <th>Claim status</th>
          </tr>
      </thead>
      <tbody>
          <!-- Nest an <ng-container> to apply *ngIf -->
          <ng-container *ngFor="let policy of filteredDocuments">
              <tr >
                  <td>{{ policy.customerName }}</td>
                  <td>{{ policy.policyName }}</td>
                  <td>{{ policy.agentName }}</td>
                  <td>{{ policy.purchasedDate | date }}</td>
                  <td>{{ policy.nominee }}</td>
                  <td>{{ nomineeRelationMap[policy.nomineeRelation] || 'Unknown' }}</td>
                  <td>Rs.{{ policy.policyAmount }}</td>
                  <td>{{ policy.policyDuration }} years</td>
                  <td>
                      <button
                          class="btn"
                          [ngClass]="policy.isVerified === 1 ? 'btn-danger' : 'btn-secondary'"
                          [disabled]="policy.isVerified !== 1 || policy.isMatured !==0"
                          (click)="PayPremium(policy)">
                          Pay Premium
                      </button>
                  </td>
                  <td>
                    <h3 *ngIf="policy.isMatured === 0">NA</h3>
                    <h3 *ngIf="policy.isMatured === 1">Under Process</h3>
                    <h3 *ngIf="policy.isMatured === 2">Approved</h3>
                </td>
              </tr>
          </ng-container>
      </tbody>
  </table>

  <mat-paginator [length]="totalPremium" pageSize="pageSize" [pageSizeOptions]="[5, 10, 15, 20]" aria-label="Select page" (page)="onPageChange($event)">
</mat-paginator>
</div>
