
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
  rel="stylesheet"
/>
<div class="container">
    <h2>Customer Policy Details</h2>
    
    <div class="search-bar">
      <input
        type="text"
        placeholder="Search by Policy Name"
        [(ngModel)]="searchQuery"
        (input)="filterDocuments()"
        class="form-control"
      />
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Customer Name</th>
          <th>Policy Name</th>
          <th>Agent Name</th>
          <th>Purchased Date</th>
          <th>Nominee</th>
          <th>Nominee Relation</th>
          <th>Policy Amount</th>
          <th>Policy Duration (Years)</th>
          <th>Document Verification</th>
          <th>Action Required</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let policy of filteredDocuments">
          <td>{{ policy.customerName }}</td>
          <td>{{ policy.policyName }}</td>
          <td>{{ policy.agentName }}</td>
          <td>{{ policy.purchasedDate | date }}</td>
          <td>{{ policy.nominee }}</td>
          <td>{{ nomineeRelationMap[policy.nomineeRelation] || 'Unknown' }}</td>
          <td>Rs.{{ policy.policyAmount }}</td>
          <td>{{ policy.policyDuration }} Years</td>
          <td>
            <span *ngIf="policy.isVerified === 1" class="approved">Approved</span>
            <span *ngIf="policy.isVerified === 2" class="not-approved">Rejected</span>
            <span *ngIf="policy.isVerified === 0" class="pending">Pending</span>
          </td>
          <td>
            <!-- Reupload button displayed only when policy is rejected -->
            <button [disabled]="policy.isVerified !== 2" class="btn btn-warning" (click)="reUpload(policy.policyId, policy.id)">Reupload</button>
          </td>
        </tr>
      </tbody>
    </table>

    <mat-paginator [length]="totalPremium" pageSize="pageSize" [pageSizeOptions]="[5, 10, 15, 20]" aria-label="Select page" (page)="onPageChange($event)">
    </mat-paginator>
  </div>
  