<div class="container">
<form [formGroup]="loginForm" (ngSubmit)="logIn()">
    <h1>Login</h1>
    <div class=" field mb-3">
      <label class="form-label">UserName</label>
      <input type="email" class="form-control" formControlName="username">
    </div>
    <div class="field1 mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" formControlName="password">
    </div>

    <div>
      <!-- Display the generated CAPTCHA -->
      <label for="captcha">CAPTCHA:</label>
      <span class="captcha-display">{{ generatedCaptcha }}</span>
      <button type="button" (click)="generateCaptcha()">Refresh</button>
    </div>
  
    <div>
      <label for="reCaptcha">Enter CAPTCHA:</label>
      <input id="captchaInput" formControlName="reCaptcha" type="text" />
    </div>
  
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <div id="button">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    <h3>Register as a Customer</h3><a href="register-customer">Register</a>
    <h3>Forget Password</h3><a href="forget-password">Forget Password</a>

  </form>
</div>