<table class="plan-table">
    <tr>
        <th>Plan Name</th>
        <th>Details</th>
    </tr>
    <tr *ngFor="let plan of plansData">
        <td>
            <!-- Plan Title and Add Schema Button -->
            <div class="plan-title-container">
                <span class="plan-title">{{ plan.name }}</span>
                <button (click)="AddSchema(plan.id)" class="add-schema-btn" >Add Schema</button>
            </div>
        </td>
        <td>
            <!-- Table for schemes that appear when 'Toggle Schema' is clicked -->
            <table >
                <tr>
                    <th>Scheme Title</th>
                    <th>Description</th>
                    <th>Min Amount</th>
                    <th>Max Amount</th>
                    <th>Min AGE</th>
                    <th>Max Age</th>
                    <th>MIN POLICY TERM</th>
                    <th>MAX POLICY TERM</th>
                    <th>REGISTRATION COMMISION AMOUNT</th>
                    <th>INSTALLATION COMMISION AMOUNT</th>
                </tr>
                <tr *ngFor="let scheme of plan.schemes">
                    <td>{{ scheme.title }}</td>
                    <td>{{ scheme.description }}</td>
                    <td>{{ scheme.minAmount }}</td>
                    <td>{{ scheme.maxAmount }}</td>
                    <td>{{ scheme.minAge }}</td>
                    <td>{{ scheme.maxAge }}</td>
                    <td>{{ scheme.minPolicyTerm }}</td>
                    <td>{{ scheme.maxPolicyTerm }}</td>
                    <td>{{ scheme.registrationCommisionAmount }}</td>
                    <td>{{ scheme.installmentCommisionRatio }}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
