<table class="plan-table">
    <tr>
        <th>Plan Name</th>
        <th>Details</th>
    </tr>
    <tr *ngFor="let plan of plansData">
        <td>
            <!-- Plan Title and Add Schema Button -->
            <div class="plan-title-container">
                <span class="plan-title">{{ plan.name }}</span>
                <button (click)="AddSchema(plan.id)" class="add-schema-btn" >Add Schema</button>
            </div>
        </td>
        <td>
            <!-- Table for schemes that appear when 'Toggle Schema' is clicked -->
            <table >
                <tr>
                    <th>SCHEME IMAGE</th>
                    <th>SCHEME TITLE</th>
                    <th>DESCRIPTION</th>
                    <th>MINIMUM AMOUNT</th>
                    <th>MAXIMUM AMOUNT</th>
                    <th>MINIMUM AGE</th>
                    <th>MAXIMUM AGE</th>
                    <th>MIN POLICY TERM</th>
                    <th>MAX POLICY TERM</th>
                    <th>REGISTRATION COMMISSION AMOUNT</th>
                    <th>INSTALLMENT COMMISSION RATE</th>
                    <th>UPDATE</th>
                </tr>
                <tr *ngFor="let scheme of plan.schemes">
                    <td><img [src]="scheme.imageLink" alt="Scheme Image" height="50"></td>
                    <td>{{ scheme.title }}</td>
                    <td>{{ scheme.description }}</td>
                    <td>{{ scheme.minAmount }}</td>
                    <td>{{ scheme.maxAmount }}</td>
                    <td>{{ scheme.minAge }}</td>
                    <td>{{ scheme.maxAge }}</td>
                    <td>{{ scheme.minPolicyTerm }}</td>
                    <td>{{ scheme.maxPolicyTerm }}</td>
                    <td>{{ scheme.registrationCommisionAmount }}</td>
                    <td>{{ scheme.installmentCommisionRatio }}</td>
                    <td>
                        <button class="btn btn-warning" (click)="updateSchemma(scheme.id)">Update</button>
                    </td>   
                </tr>
            </table>
        </td>
    </tr>
</table>
