<div class="container">
    <h1>Queries</h1>
    <table class="queries-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Message</th>
          <th>Reply</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let query of queries; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ query.title }}</td>
          <td>{{ query.message }}</td>
          <td>{{ query.reply ? query.reply : 'No Reply Yet' }}</td>
        </tr>
      </tbody>
    </table>

    <mat-paginator [length]="25" pageSize="pageSize" [pageSizeOptions]="[5, 10, 15, 20]" aria-label="Select page" (page)="onPageChange($event)">
    </mat-paginator>
  </div>
  