<div class="form-container">
  <h2 class="form-heading">Create New Plan</h2>
  <form [formGroup]="newPlanForm" (ngSubmit)="addNewPlan()">
    <input type="text" placeholder="Enter Plan Name" formControlName="name">
    <span>*</span>
    <div *ngIf="newPlanForm.get('name')?.invalid && newPlanForm.get('name')?.touched">
      Plan name is required.
    </div>
    <div *ngIf="newPlanForm.get('name')?.errors?.['minlength']">
      Plan name must be 5 characters long.
    </div>
    <br><br>

    <button type="submit" [disabled]="newPlanForm.invalid">Submit</button>
  </form>
</div>

<div aria-live="polite" aria-atomic="true" class="position-relative">
  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div
      class="toast"
      role="alert"
      [class.show]="showToast"
      aria-live="assertive"
      aria-atomic="true"
      [ngClass]="{ 'bg-success text-white': toastType === 'success', 'bg-danger text-white': toastType === 'error' }"
    >
      
      <div class="toast-body">
        {{ toastMessage }}
      </div>
    </div>
  </div>
</div>