<form [formGroup]="newAgentForm" (ngSubmit)="addAgent()">
    <h2>Add New Agent</h2>
    
    <input type="text" placeholder="Enter First Name" formControlName="firstName" />
    <br /><br />
    <input type="text" placeholder="Enter Last Name" formControlName="lastName" />
    <br /><br />
    <input type="text" placeholder="Enter Qualification" formControlName="qualification" />
    <br /><br />
    <input type="text" placeholder="Enter Email" formControlName="email" />
    <br /><br />
    <input type="number" placeholder="Enter Mobile Number" formControlName="mobileNumber" />
    <br /><br />
    <input type="text" placeholder="Enter User Name" formControlName="username" />
    <br /><br />
    <input type="password" placeholder="Enter Password" formControlName="password" />
    <br /><br />
  
    <button>Submit</button>
  </form>
  