<form [formGroup]="newForm" (ngSubmit)="chnagePassword()">
  <h2>Change Password</h2>
    <input type="text" placeholder="Enter UserName" formControlName = "userName">
    <span>*</span>
    <div *ngIf="newForm.get('userName')?.invalid && newForm.get('userName')?.touched">UserName is required.</div> 
      <div *ngIf="newForm.get('userName')?.errors?.['minlength']">UserName must be at least 4 characters long.</div>
    <br>
    <br>
    <input type="text" placeholder="Enter Existing Password" formControlName = "password">
    <span>*</span>
    <div *ngIf="newForm.get('password')?.invalid && newForm.get('password')?.touched">Existing Password is required.</div> 
      <div *ngIf="newForm.get('password')?.errors?.['minlength']">Existing Password must be at least 6 characters long.</div>
    <br>
    <br>
    <input type="text" placeholder="Enter New Password" formControlName = "newPassword">
    <span>*</span>
    <div *ngIf="newForm.get('newPassword')?.invalid && newForm.get('newPassword')?.touched">New Password is required.</div> 
      <div *ngIf="newForm.get('newPassword')?.errors?.['minlength']">New Password must be at least 6 characters long.</div>
    <br>
    <br>
    <button>Submit</button>


</form>

