<div class="container mt-5">
    <h2 class="text-center">Register Customer</h2>
    <form [formGroup]="newCustomerForm" (ngSubmit)="addCustomer()">
  
      <!-- First Name -->
      <div class="form-group">
        <label for="firstName">First Name</label>
        <div id="row">
        <input
          id="firstName"
          type="text"
          class="form-control"
          formControlName="firstName"
          placeholder="Enter your first name"
        /><span>*</span>
      </div>
      <div *ngIf="newCustomerForm.get('firstName')?.invalid && newCustomerForm.get('firstName')?.touched">
        First name is required.
      </div>
      <div *ngIf="newCustomerForm.get('firstName')?.errors?.['minlength']">
        First name must be 2 characters long.
      </div>
      <div *ngIf="newCustomerForm.get('firstName')?.errors?.['pattern']">
        First name must contain only characters.
      </div>
      </div>
  
      <!-- Last Name -->
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <div id="row">
        <input
          id="lastName"
          type="text"
          class="form-control"
          formControlName="lastName"
          placeholder="Enter your last name"
        /><span>*</span>
      </div>
      <div *ngIf="newCustomerForm.get('lastName')?.invalid && newCustomerForm.get('lastName')?.touched">
        Last name is required.
      </div>
      <div *ngIf="newCustomerForm.get('lastName')?.errors?.['minlength']">
        Last name must be 2 characters long.
      </div>
      <div *ngIf="newCustomerForm.get('lastName')?.errors?.['pattern']">
        Last name must contain only characters.
      </div>
      </div>
  
      <!-- Email -->
      <div class="form-group">
        <label for="email">Email</label>
        <div id="row">
        <input
          id="email"
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="Enter your email"
        /><span>*</span>
      </div>
      <div *ngIf="newCustomerForm.get('email')?.invalid && newCustomerForm.get('email')?.touched">
        Email is required.
      </div>
      <div *ngIf="newCustomerForm.get('email')?.errors?.['email']">
        Email not in correct format.
      </div>
      </div>
  
      <!-- Mobile Number -->
      <div class="form-group">
        <label for="mobileNumber">Mobile Number</label>
        <div id="row">
        <input
          id="mobileNumber"
          type="number"
          class="form-control"
          formControlName="mobileNumber"
          placeholder="Enter your mobile number"
        /><span>*</span>
      </div>
      <div *ngIf="newCustomerForm.get('mobileNumber')?.invalid && newCustomerForm.get('mobileNumber')?.touched">
        Mobile Number is required.
      </div>
      <div *ngIf="newCustomerForm.get('mobileNumber')?.errors?.['pattern']">
        Mobile Number must be 10 digits long.
      </div>
      
      </div>
  
      <!-- State Dropdown -->
      <div class="form-group">
        <label for="state">State</label>
        <div id="row">
        <select
            id="state"
            class="form-control"
            formControlName="state"
            (change)="onStateChange($event)"
>
            <option value="">Select State</option>
            <option *ngFor="let state of states" [value]="state.name">{{ state.name }}</option>
        </select><span>*</span>
      </div>
      <div *ngIf="newCustomerForm.get('state')?.invalid && newCustomerForm.get('state')?.touched">
        State is required.
      </div>
      </div>
  
      <!-- City Dropdown -->
      <div class="form-group">
        <label for="city">City</label>
        <div id="row">
          <select id="city" class="form-control" formControlName="city">
            <option value="">Select City</option>
            <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
          </select><span>*</span>
        </div>
        <div *ngIf="newCustomerForm.get('city')?.invalid && newCustomerForm.get('city')?.touched">
          City is required.
        </div>
      </div>
  
      <!-- Date of Birth -->
      <div class="form-group">
        <label for="dateOfBirth">Date of Birth</label>
        <div id="row">
          <input
          id="dateOfBirth"
          type="date"
          class="form-control"
          formControlName="dateOfBirth"
        /><span>*</span>
        </div>
        <div *ngIf="newCustomerForm.get('dateOfBirth')?.invalid && newCustomerForm.get('dateOfBirth')?.touched">
          Date of Birth is required.
        </div>
        <div *ngIf="newCustomerForm.get('dateOfBirth')?.errors?.['futureDate']">
          Date of Birth cannot be in the future.
        </div>
        <div *ngIf="newCustomerForm.get('dateOfBirth')?.errors?.['underage']">
          You must be at least 18 years old.
        </div>
      </div>
  
      <!-- Username -->
      <div class="form-group">
        <label for="username">Username</label>
        <div id="row">
          <input
          id="username"
          type="text"
          class="form-control"
          formControlName="username"
          placeholder="Enter your username"
        /><span>*</span>
        </div>
        <div *ngIf="newCustomerForm.get('username')?.invalid && newCustomerForm.get('username')?.touched">
          Username is required.
        </div>
        <div *ngIf="newCustomerForm.get('username')?.errors?.['minlength']">
          username must be 5 characters long.
        </div>
      </div>
  
      <!-- Password -->
      <div class="form-group">
        <label for="password">Password</label>
        <div id="row">
          <input
          id="password"
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Enter your password"
        /><span>*</span>
        </div>
        <div *ngIf="newCustomerForm.get('password')?.invalid && newCustomerForm.get('password')?.touched">
          Password is required.
        </div>
        <div *ngIf="newCustomerForm.get('password')?.errors?.['minlength']">
          Password must be 5 characters long.
        </div>
      </div>
  
      <!-- Submit Button -->
      <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary" [disabled]="newCustomerForm.invalid">
          Register
        </button>
      </div>
    </form>
  </div>
  
  <div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container position-fixed top-0 end-0 p-3">
      <div
        class="toast"
        role="alert"
        [class.show]="showToast"
        aria-live="assertive"
        aria-atomic="true"
        [ngClass]="{ 'bg-success text-white': toastType === 'success', 'bg-danger text-white': toastType === 'error' }"
      >
        
        <div class="toast-body">
          {{ toastMessage }}
        </div>
      </div>
    </div>
  </div>