\<ul class="nav nav-pills justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" routerLink="tabs">Dashboard</a>
  </li>
  <li class="nav-item dropdown">
    <div class="nav-link dropdown-toggle" id="insuranceDropdown" role="button">
      Insurance
    </div>
    <ul class="dropdown-menu" aria-labelledby="insuranceDropdown">
      <li><a class="dropdown-item" href="admin-dashboard/plans">Add Plan</a></li>
      <li><a class="dropdown-item" href="admin-dashboard/schemas">Add Schemes</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <div class="nav-link dropdown-toggle" id="insuranceDropdown" role="button">
      Agent
    </div>
    <ul class="dropdown-menu" aria-labelledby="insuranceDropdown">
      <li><a class="dropdown-item" href="admin-dashboard/add-agent">Add Agent</a></li>
      <li><a class="dropdown-item" href="admin-dashboard/view-agent">View Agent</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <div class="nav-link dropdown-toggle" id="insuranceDropdown" role="button">
      Employee
    </div>
    <ul class="dropdown-menu" aria-labelledby="insuranceDropdown">
      <li><a class="dropdown-item" href="admin-dashboard/add-employee">Add Employee</a></li>
      <li><a class="dropdown-item" href="admin-dashboard/view-employee">View Employee</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Settings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Account</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Logout</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">{{userName}}</a>
  </li>
</ul>
