<div class="form-container">
    <form [formGroup]="newForm" (ngSubmit)="chnagePassword()">
      <h2>Change Password</h2>
      <input type="text" placeholder="Enter UserName" formControlName="userName" />
      <br />
      <br />
      <input type="text" placeholder="Enter Existing Password" formControlName="password" />
      <br />
      <br />
      <input type="text" placeholder="Enter New Password" formControlName="newPassword" />
      <br />
      <br />
      <button>Submit</button>
    </form>
  </div>
  