<div class="container">
  <h1>Verify Documents</h1>

  <div class="search-bar">
    <input
      type="text"
      placeholder="Search by Customer Name"
      [(ngModel)]="searchQuery"
      (input)="filterDocuments()"
      class="form-control"
    />
  </div>

  <div *ngFor="let item of filteredDocuments" class="customer-container">
      <!-- Customer and Policy Details -->
      <div class="customer-header">
          <h2>{{ item.customerName }}</h2>
          <p><strong>Policy:</strong> {{ item.policyName }}</p>
      </div>

      <!-- Document List -->
      <div class="documents-list">
          <div *ngFor="let doc of item.documents" class="document-card">
              <img [src]="doc.location" alt="Document Image" class="document-image" />
              <div class="document-info">
                  <p><strong>Document Name:</strong> {{ doc.name }}</p>
              </div>
          </div>
      </div>

      <!-- Approve and Reject Buttons -->
      <div class="customer-actions">
          <button
              class="btn btn-success"
              (click)="approveAllDocuments(item.policyAccountId)">
              Approve
          </button>
          <button
              class="btn btn-danger"
              (click)="rejectAllDocuments(item.policyAccountId)">
              Reject
          </button>
      </div>
  </div>

  <mat-paginator [length]="25" pageSize="pageSize" [pageSizeOptions]="[5, 10, 15, 20]" aria-label="Select page" (page)="onPageChange($event)">
</mat-paginator>
</div>
