<div class="withdraw-container">
  <h2 class="text-center">Withdraw Commission</h2>

  <div class="balance-display">
    <h3>Your Current Balance: <span>{{ balance | currency: 'INR' }}</span></h3>
  </div>

  
  <form [formGroup]="commissonForm" (ngSubmit)="commissionRequest()" class="withdraw-form">
    <div class="form-group">
      <label for="amount">Withdraw Amount:</label>
      <input 
        type="number" 
        id="amount" 
        formControlName="amount" 
        class="form-control" 
        placeholder="Enter amount" 
        required 
        min="1" 
        [max]="balance" /><span>*</span>
        <div *ngIf="commissonForm.get('amount')?.invalid && commissonForm.get('amount')?.touched">Amount is required.</div> 
        <div *ngIf="commissonForm.get('amount')?.errors?.['min']">
          Minimum amount should be 1
        </div>
        <div *ngIf="commissonForm.get('amount')?.errors?.['max']">
          Maximum amount should be {{ balance }}
        </div>
    </div>

    <div class="form-buttons">
      <button type="submit" [disabled]="commissonForm.invalid" class="btn btn-primary">
        Request Withdrawal
      </button>
    </div>
  </form>
</div>

<div class="request-container">
  <div class="filter-options">
    <label>
      <input
        type="radio"
        name="commissionType"
        value=""
        [(ngModel)]="selectedCommissionType"
        (change)="filterDocuments()"
      />
      All
    </label>
    <label>
      <input
        type="radio"
        name="commissionType"
        value="0"
        [(ngModel)]="selectedCommissionType"
        (change)="filterDocuments()"
      />
      Pending
    </label>
    <label>
      <input
        type="radio"
        name="commissionType"
        value="1"
        [(ngModel)]="selectedCommissionType"
        (change)="filterDocuments()"
      />
      Approved
    </label>
    <label>
      <input
        type="radio"
        name="commissionType"
        value="2"
        [(ngModel)]="selectedCommissionType"
        (change)="filterDocuments()"
      />
      Rejected
    </label>
  </div>

  <h3 class="text-center">Your Withdrawal Requests</h3>
  <table class="request-table">
    <thead>
      <tr>
        <th>Sr. No</th>
        <th>Amount</th>
        <th>Request Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of filteredDocuments; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ request.amount | currency: 'INR' }}</td>
        <td>{{ request.requestDate | date}}</td>
        <td>
          <span *ngIf="request.status === 1" class="approved">Approved</span>
          <span *ngIf="request.status === 2" class="not-approved">Rejected</span>
          <span *ngIf="request.status === 0" class="pending">Pending</span>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator [length]="totalCommissions" pageSize="pageSize" [pageSizeOptions]="[5, 10, 15, 20]" aria-label="Select page" (page)="onPageChange($event)">
  </mat-paginator>
</div>


