<ul class="nav nav-pills justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item dropdown">
      <div class="nav-link dropdown-toggle" id="insuranceDropdown" role="button">
        Agent
      </div>
      <ul class="dropdown-menu" aria-labelledby="insuranceDropdown">
        <li><a class="dropdown-item" href="employee-dashboard/add-agent">Add Agent</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" >{{name}}</a>
    </li>
  </ul>