<form [formGroup]="newSchemaForm" (ngSubmit)="addnewSchema()">
    <input type="text" placeholder="Enter title" formControlName = "title">
    <span>*</span>
    <div *ngIf="newSchemaForm.get('title')?.invalid && newSchemaForm.get('title')?.touched">
      Title is required.
    </div> 
    <br>
    <br>
    <input type="text" placeholder="Enter description" formControlName = "description">
    <span>*</span>
    <div *ngIf="newSchemaForm.get('description')?.invalid && newSchemaForm.get('description')?.touched">
      Description is required.
    </div> 
    <div *ngIf="newSchemaForm.get('description')?.errors?.['minlength']">Description must be at least 10 characters long.</div>
    <br>
    <br>

    <input type="number" placeholder="Enter minimum amount" formControlName = "minAmount">
    <span>*</span>
    <div *ngIf="newSchemaForm.get('minAmount')?.invalid && newSchemaForm.get('minAmount')?.touched">
      Minimum Amount is required.
    </div> 
    <div *ngIf="newSchemaForm.get('minAmount')?.errors?.['min']">Amount must be greater than 0.</div>
    <br>
    <br>
    
    <input type ="number" placeholder="Enter maximum amount" formControlName = "maxAmount">
    <span>*</span>
    <div *ngIf="newSchemaForm.get('maxAmount')?.invalid && newSchemaForm.get('maxAmount')?.touched">
      Maximum Amount is required.
    </div> 
    <div *ngIf="newSchemaForm.get('maxAmount')?.errors?.['min']">Amount must be greater than 0.</div>
    <div *ngIf="newSchemaForm.get('maxAmount')?.errors?.['maxAmountInvalid']">Max amount must be greater than Min amount.</div>
    <br>
    <br>
    <input type ="number" placeholder="Enter min age" formControlName = "minAge">
    <span>*</span>
    <div *ngIf="newSchemaForm.get('minAge')?.invalid && newSchemaForm.get('minAge')?.touched">
      Minimum Age is required.
    </div> 
    <div *ngIf="newSchemaForm.get('minAge')?.errors?.['min']">Minimum age must be 18 or above.</div>
    <br>
    <br>
    <input type ="number" placeholder="Enter max age" formControlName = "maxAge">
    <span>*</span>
    <div *ngIf="newSchemaForm.get('maxAge')?.invalid && newSchemaForm.get('maxAge')?.touched">
      Maximum Age is required.
    </div> 
    <div *ngIf="newSchemaForm.get('maxAge')?.errors?.['min']">Minimum age must be 18 or above.</div>
      <div *ngIf="newSchemaForm.get('maxAge')?.errors?.['maxAgeInvalid']">Max age must be greater than Min age.</div>
    <br>
    <br>
    <input type = "number" placeholder="Enter minimum Policy Term" formControlName = "minPolicyTerm">
    <span>*</span>
    <div *ngIf="newSchemaForm.get('minPolicyTerm')?.invalid && newSchemaForm.get('minPolicyTerm')?.touched">
      Minimum Policy Term is required.
    </div> 
    <div *ngIf="newSchemaForm.get('minPolicyTerm')?.errors?.['min']">Policy term must be at least 1 year.</div>

    <br>
    <br>
    <input type ="number" placeholder="Enter maximum Policy Term" formControlName = "maxPolicyTerm">
    <span>*</span>
    <div *ngIf="newSchemaForm.get('maxPolicyTerm')?.invalid && newSchemaForm.get('maxPolicyTerm')?.touched">
      Maximum Policy Term is required.
    </div> 
    <div *ngIf="newSchemaForm.get('maxPolicyTerm')?.errors?.['min']">Policy term must be at least 1 year.</div>
      <div *ngIf="newSchemaForm.get('maxPolicyTerm')?.errors?.['maxPolicyTermInvalid']">Max policy term must be greater than Min policy term.</div>
    <br>
    <br>
    <input type ="number" placeholder="Enter Policy Ratio" formControlName = "policyRatio">
    <span>*</span>
    <div *ngIf="newSchemaForm.get('policyRatio')?.invalid && newSchemaForm.get('policyRatio')?.touched">
      Policy Ratio is required.
    </div> 
    <div *ngIf="newSchemaForm.get('policyRatio')?.errors?.['min']">Policy ratio must be between 0 and 100.</div>
      <div *ngIf="newSchemaForm.get('policyRatio')?.errors?.['max']">Policy ratio must be between 0 and 100.</div>
    <br>
    <br>
    <input type ="checkbox" formControlName = "policyStatus"> Status
    <span>*</span>
    
    <br>
    <br>
    <input type ="number" placeholder="Enter Register Commissions Amount" formControlName = "registrationCommisionAmount">(INR)
    <span>*</span>
    <div *ngIf="newSchemaForm.get('registrationCommisionAmount')?.invalid && newSchemaForm.get('registrationCommisionAmount')?.touched">
      Registration Commission Amount is required.
    </div> 
    <div *ngIf="newSchemaForm.get('registrationCommisionAmount')?.errors?.['min']">Amount must be greater than 0.</div>
    <br>
    <br>
    <input type ="number" placeholder="Enter Installment Commissions Ratio" formControlName = "installmentCommisionRatio">(%)
    <span>*</span>
    <div *ngIf="newSchemaForm.get('installmentCommisionRatio')?.invalid && newSchemaForm.get('installmentCommisionRatio')?.touched">
      Installment Commission Amount is required.
    </div> 
    <div *ngIf="newSchemaForm.get('installmentCommisionRatio')?.errors?.['min']">Installment commission ratio must be between 1 and 100.</div>
      <div *ngIf="newSchemaForm.get('installmentCommisionRatio')?.errors?.['max']">Installment commission ratio must be between 1 and 100.</div>
    <br>
    <br>
    <div *ngFor="let doc of documentsList">
      <input
        type="checkbox"
        [value]="doc"
        (change)="onCheckboxChange($event)"
      />
      {{ doc }}
    </div>
    <br>
    <br>

    <input type="file" (change)="onSelect($event)" accept="image/*" />
  
    <!-- Display Selected File -->
    <div *ngIf="file">
      <p>Selected File: {{ file.name }}</p>
      <button (click)="onRemove()">Remove File</button>
    </div>
  
    <!-- Upload Button -->
    <!-- <button (click)="upload()">Upload File</button> -->

    <button (click)="upload()">Submit</button>


</form>
