<form [formGroup]="newRequestForm" (ngSubmit)="request()" class="request-form">
    <div class="form-group">
        <label for="userName" class="form-label">Username</label>
        <div id="row">
        <input type="text" id="userName" placeholder="Enter UserName" formControlName="userName" class="form-control" /><span>*</span>
    </div>
    </div>

    <div class="form-buttons">
        <button type="submit" class="btn-submit">Submit</button>
    </div>
</form>

<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container position-fixed top-0 end-0 p-3">
      <div
        class="toast"
        role="alert"
        [class.show]="showToast"
        aria-live="assertive"
        aria-atomic="true"
        [ngClass]="{ 'bg-success text-white': toastType === 'success', 'bg-danger text-white': toastType === 'error' }"
      >
        
        <div class="toast-body">
          {{ toastMessage }}
        </div>
      </div>
    </div>
  </div>
  