<div class="container">
    <h2>Query Responses</h2>
    <div class="search-bar">
      <input
        type="text"
        placeholder="Search by Query Title"
        [(ngModel)]="searchQuery"
        (input)="filterDocuments()"
        class="form-control"
      />
    </div>
    <table class="table">
      <thead>
        <tr>
            <th>Sr no</th>
          <th>Title</th>
          <th>Message</th>
          <th>Customer Name</th>
          <th>Reply</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let query of queries; let i = index">
          <td>{{i+1}}</td>
          <td>{{ query.title }}</td>
          <td>{{ query.message }}</td>
          <td>{{ query.customerName }}</td>
          <td>
            <form [formGroup]="newReplyForm" (ngSubmit)="addReply(query.id)">
              <input
                type="text"
                formControlName="reply"
                placeholder="Enter your reply"
                class="reply-input"
              />
              <div *ngIf="newReplyForm.get('reply')?.errors?.['minlength']">Reply must be 2 characters long.</div>
              <button
              class="btn btn-primary"
              >
              Submit Reply
            </button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>

    <mat-paginator [length]="totalQueries" pageSize="pageSize" [pageSizeOptions]="[5, 10, 15, 20]" aria-label="Select page" (page)="onPageChange($event)">
    </mat-paginator>
  </div>
  